// $consumer-pri: #103939;
// $consumer-sec: #0c5c51;
// $consumer-ter: #E9F3EC;
// $consumer-alt-pri: #9F4E3D;
// $consumer-alt-sec: #FABEB3;
// $consumer-alt-ter: #FFF0E9;
// $consumer-alt-qua: #F37661;

// $enterprise-pri: #083451;
// $enterprise-sec: #9eb5c4;
// $enterprise-ter: #F3FAFE;
// $enterprise-alt-pri: #CEB699;
// $enterprise-alt-sec: #FFEBC2;
// $enterprise-alt-ter: #D3CBC3;
// $enterprise-alt-qua: #F7F4F0;

$mono-lighter: #f3f3f3;
$mono-light: #cccccc;
$mono-dark: #444444;
$mono-darker: #1f1f1f;

$link-color: #159281;
$hover-color: #00DEAD;

$text-color: #1f1f1f;
$black:#000000;
$white: #ffffff;
$tosca:#D7FDFF;


// $primary-font:"sofia-pro",
// sans-serif;
// $enterprise-font: "Georgia",
// serif;
// $icon-font: "FontAwesome";

$unit: 16px;

$narrow-width: 764px;